.login{
    display: flex;
    background-color:darkgray;
    align-items: center;
    margin: 15px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0px;
    height: 680px;
    justify-content: center; 
   
   
    
    
}

.login_form{
    background-color:peru;
    border: 2px solid black;
    padding: 20px;
    margin: 50px 50px 50px 100px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    
    
}


.image1 img{
    width: 550px;
    height: 550px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    
}

.login_form input{
    display: flex;
    display: block;
    padding: 10px;
    /* margin: 20px; */
    border:0px;
    border-bottom: 3.5px solid  brown;
    margin-left: 40px;
    margin: 20px 20px 20px 150px;
    background-color: darkkhaki;
    
    
    

}

.login_form button{
    /* margin-left: 60px; */
    padding: 5px;
    border: none;
    width: 80px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px 20px 20px 200px;
    
}

.login_form button:active{
    background-color: red;
    color: black;
}

.hi{
   margin: 5px 5px 15px 5px;
    text-align: center;
    color: rgb(95, 92, 92);
}

.login_form input:focus{
    outline: none;
    background-color:coral;
}
body{
    margin: 0px;
    padding: 0px;
}