.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 53, 69);
    padding: 10px 64px;
    /* width: 100%; */
    /* margin: 10px 0px 10px 10px; */
    margin: 0px 3px 3px 3px;
    position: sticky;
    top:0px;
    z-index: 1; 
}

.links li{
    display: inline-block;
    margin: 0px 15px;
}

.links a{
    color: white;
    text-decoration:none;
    font-size: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid wheat;
background-color: rgb(133, 127, 127);
text-shadow: 10px 10px 15px red;

}

.links a:hover{
    color: gainsboro;
   /* text-decoration: overline;*/
   
   background-color: red;
   color: black;
   
}

.logo img{
  width: 150px;
  margin: 0px;
  padding: 10px;
}

